
/*
  Name: test css
*/


h1 {
  font-size: 1.5em; ; color:brown;
  text-shadow: .2em .2em silver;
  border: 2px red solid;
}

body {
  margin: 5% 40%;
  background: white;
}

p {
  border: 1px solid;
  /*box-shadow: 0 0 8.5px 6px #838383;*/
  background-color: whitesmoke;
  padding: 10px;
  box-align: center;
  border-radius: 5px;
}

#nav {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid;
  padding: 3px;
  margin: 2%;
}