
/*
  Name: test css
*/


h1 {
  font-size: 1.5em; ; color:brown;
  text-shadow: .2em .2em silver;
}

body {
  margin: 5% 20%;
  background-image: radial-gradient(#979797 1px, transparent 1px);
  background-size: 75px 75px;
  background-color: #f0f0f0;
}

p {
  border-style: solid; size: 1px;
  box-shadow: 0 0 8.5px 6px #838383;
  background-color: #9ea1ff;
  width: 500px;
  padding: 10px;
  box-align: center;
  border-radius: 5px;
  }