
/*
  Name: test css
*/


h1 {
  font-size: 1.5em; ; color:brown;
  text-shadow: .2em .2em silver;
}

body {
  background-image: radial-gradient(#979797 1px, transparent 1px);
  background-size: 75px 75px;
  background-color: #f0f0f0;
}